@import '../variables';

$size: 40px;
.smiley{
  width: $size;
  height: $size;
  background: $background;
  border: 2px outset;
  padding: 5px;
  outline: none;
  box-shadow: -0.5px -0.5px 1px rgba(0,0,0,0.25);
  &:active{
    border-style: inset;
  }
}
