@import "../variables.scss";

.box{
  @include outsetBorder(2px);
  background: $background;
  width: $boxSize;
  height: $boxSize;
  line-height: $boxSize;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.mine{
  background-image: url('./mine.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.flag{
  background-image: url('./flag.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 75%;
}

.revealed{
  background-color: #ccc;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
}

.fail{
  background-color: red;
}

