$size: 30px;

.box{
  border: 2px outset;
  background: #d0d0d0;
  width: $size;
  height: $size;
  line-height: $size;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.mine{
  background: {
    image: url(./mine.png);
    position: center;
    repeat: no-repeat;
    size: 75%;
  }
}

.flag{
  background: {
    image: url(./flag.png);
    position: center;
    repeat: no-repeat;
    size: 75%;
  }
}

.revealed{
  background-color: #ccc;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
  &:last-child{
    border-right: none;
  }
  :last-child > &{
    border-bottom: none;
  }
}

.fail{
  background-color: red;
}

