@import "../../variables.scss";

.box{
  border: 2px outset;
  background: $background;
  width: $boxSize;
  height: $boxSize;
  line-height: $boxSize;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.mine{
  background: {
    image: url(./mine.png);
    position: center;
    repeat: no-repeat;
    size: 75%;
  }
}

.flag{
  background: {
    image: url(./flag.png);
    position: center;
    repeat: no-repeat;
    size: 75%;
  }
}

.revealed{
  background-color: #ccc;
  border: 1px solid #aaa;
  border-width: 0 1px 1px 0;
}

.fail{
  background-color: red;
}

